:root{
    font-size: 62.5%;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-size: 1.6rem;
    overflow-x: hidden;
  
    font-family: montserrat;
    background-color: #ffffff;

  }
  
  
  label, input, select, textarea{
  
    font-size: 1.6rem;
  }
  

  a{
    color: rgb(0, 0, 56);
  }